.faceted-search {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }


  .filters {
    margin-bottom: 20px;
  }

  
  .filters label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .filters select,
  .filters input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .results {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .results h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .results li {
    margin-bottom: 8px;
    font-size: 14px;
  }
  