/* src/components/LanguageSwitcher.css */
.language-switcher {
    display: flex;
    justify-content: center;
   
  }

  .btn--en {
    margin-right: 7px;
  }
  
  .btn--es {
    margin-right: 5px; 
  }

  